@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.glow {
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #00f, 0 0 30px #00f,
    0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f;
}
